##################################
# Help / Docs
##################################
HELP.md

##################################
# Maven
##################################
target/
.mvn/wrapper/maven-wrapper.jar

##################################
# Local data / Databases
##################################
LOCAL_DATA/

##################################
# macOS
##################################
.DS_Store
**/.DS_Store

##################################
# Spring Tool Suite (STS)
##################################
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

##################################
# IntelliJ IDEA
##################################
.idea/
*.iws
*.iml
*.ipr

##################################
# NetBeans
##################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

##################################
# VS Code
##################################
.vscode/