<div class="card card-body">
    <form th:action="@{/literature/rooms}" method="post">
        <div class="mb-3">
            <label class="form-label">Room Name</label>
            <input type="text" class="form-control" name="name" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Capacity</label>
            <input type="number" class="form-control" name="capacity" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Open Time</label>
            <input type="time" class="form-control" name="openTime" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Close Time</label>
            <input type="time" class="form-control" name="closeTime" required>
        </div>

        <button type="submit" class="btn btn-success">Create Room</button>
    </form>
</div>